# Spark SQL Lab 1

In [1]:
import findspark
findspark.init()  # uses SPARK_HOME
print("Spark found in : ", findspark.find())

import pyspark
from pyspark import SparkConf
from pyspark.sql import SparkSession

# use a unique tmep dir for warehouse dir, so we can run multiple spark sessions in one dir
import tempfile
tmpdir = tempfile.TemporaryDirectory()

config = ( SparkConf()
         .setAppName("TestApp")
         .setMaster("local[*]")
         .set('executor.memory', '2g')
         .set('spark.sql.warehouse.dir', tmpdir.name)
         .set("some_property", "some_value") # another example
         )

spark = SparkSession.builder.config(conf=config).getOrCreate()
print('Spark UI running on port ' + spark.sparkContext.uiWebUrl.split(':')[2])

Spark found in :  /home/sujee/apps/spark
Spark UI running on port 4040

## Read Data Without Schema

In [2]:
df = spark.read.csv('../data/transactions/transactions-sample.csv', header=True, sep="|")
df.show()
df.printSchema()

+--------------------+--------------------+----+----------------+---------------+-------------+-----------+--------------------+--------------------+---------------+-------------+
|                  id|           timestamp| mti|     card_number|amount_customer|merchant_type|merchant_id|    merchant_address|              ref_id|amount_merchant|response_code|
+--------------------+--------------------+----+----------------+---------------+-------------+-----------+--------------------+--------------------+---------------+-------------+
|59132a14-bdd2-4ab...|2016-08-16 10:22:...|0100|4869275837969573|         105.10|         2788|         63|Sun Shine Liquors...|                null|           null|         null|
|90f04967-f739-439...|2016-08-16 10:22:...|0110|4869275837969573|         105.10|         2788|         63|Sun Shine Liquors...|59132a14-bdd2-4ab...|         101.95|           00|
|dbdf1aa3-bf7e-465...|2018-05-06 04:19:...|0100|4196274028761630|         706.70|         2723|         63|First Restaurant,...|                null|           null|         null|
|96239ab7-1c86-449...|2018-05-06 04:20:...|0110|4196274028761630|         706.70|         2723|         63|First Restaurant,...|dbdf1aa3-bf7e-465...|         685.50|           00|
|42ef2838-d291-411...|2015-03-28 14:15:...|0100|4348736739803585|         288.40|         5529|          7|Best Bakery, 643 ...|                null|           null|         null|
|615665fc-8852-42b...|2015-03-28 14:15:...|0110|4348736739803585|         288.40|         5529|          7|Best Bakery, 643 ...|42ef2838-d291-411...|         279.75|           00|
|e3c320f8-e821-4c3...|2015-06-08 12:09:...|0100|4240286547631442|         867.40|         5691|         58|Awesome Liquors, ...|                null|           null|         null|
|0eea772e-f038-489...|2015-06-08 12:09:...|0110|4240286547631442|         867.40|         5691|         58|Awesome Liquors, ...|e3c320f8-e821-4c3...|         841.38|           00|
|1876fe75-aed1-4da...|2016-04-16 21:00:...|0100|4910254741612724|         659.80|         2349|          0|First Bakery, 539...|                null|           null|         null|
|f6eec88c-1fd9-438...|2016-04-16 21:00:...|0110|4910254741612724|         659.80|         2349|          0|First Bakery, 539...|1876fe75-aed1-4da...|         640.01|           00|
|92be356b-339d-4c4...|2015-09-28 02:00:...|0100|4645281095518257|         594.30|         2957|          0|Best Auto, 795 Al...|                null|           null|         null|
|14013d92-d87c-419...|2015-09-28 02:00:...|0110|4645281095518257|         594.30|         2957|          0|Best Auto, 795 Al...|92be356b-339d-4c4...|         576.47|           00|
|20ffbbe6-9597-4eb...|2020-12-29 14:09:...|0100|4181883717407438|         656.50|         3736|          0|Four Seasons Auto...|                null|           null|         null|
|684d32b9-c9d0-499...|2020-12-29 14:09:...|0110|4181883717407438|         656.50|         3736|          0|Four Seasons Auto...|20ffbbe6-9597-4eb...|         636.81|           08|
|8fe04047-dd0c-46b...|2017-08-07 07:50:...|0100|4665137692039550|         199.30|         7634|          0|Sun Shine Hardwar...|                null|           null|         null|
|0c843839-728d-43c...|2017-08-07 07:51:...|0110|4665137692039550|         199.30|         7634|          0|Sun Shine Hardwar...|8fe04047-dd0c-46b...|         193.32|           00|
|cdad92c5-74a9-450...|2015-04-22 01:33:...|0100|4094149930780762|         193.20|         3130|         13|Super Dry cleaner...|                null|           null|         null|
|f87246dd-8178-458...|2015-04-22 01:33:...|0110|4094149930780762|         193.20|         3130|         13|Super Dry cleaner...|cdad92c5-74a9-450...|         187.40|           00|
|345d6dcb-aec3-4f9...|2018-04-19 15:04:...|0100|4191811070945710|         132.50|         1288|         90|Best Bakery, 668 ...|                null|           null|         null|
+--------------------+--------------------+----+----------------+---------------+-------------+-----------+--------------------+--------------------+---------------+-------------+

root
 |-- id: string (nullable = true)
 |-- timestamp: string (nullable = true)
 |-- mti: string (nullable = true)
 |-- card_number: string (nullable = true)
 |-- amount_customer: string (nullable = true)
 |-- merchant_type: string (nullable = true)
 |-- merchant_id: string (nullable = true)
 |-- merchant_address: string (nullable = true)
 |-- ref_id: string (nullable = true)
 |-- amount_merchant: string (nullable = true)
 |-- response_code: string (nullable = true)

## Read Data with Schema

In [3]:
import pyspark
from pyspark.sql.types import ArrayType, IntegerType, LongType, StringType, FloatType, TimestampType, StructType, StructField

my_schema = StructType([
                       StructField("id", StringType(), True),
                       StructField("timestamp", StringType(), True),
                       StructField("mti", StringType(), True),
                       StructField("card_number", StringType(), True),
                       StructField("amount_customer", FloatType(), True),
                       StructField("merchant_type", StringType(), True),
                       StructField("merchant_id", StringType(), True),
                       StructField("merchant_address", StringType(), True),
                       StructField("ref_id", StringType(), True),
                       StructField("amount_merchant", FloatType(), True),
                       StructField("response_code", StringType(), True),
                      ])


df = spark.read.csv('../data/transactions/transactions-sample.csv', header=True, schema=my_schema, sep="|")
df.show()
df.printSchema()

+--------------------+--------------------+----+----------------+---------------+-------------+-----------+--------------------+--------------------+---------------+-------------+
|                  id|           timestamp| mti|     card_number|amount_customer|merchant_type|merchant_id|    merchant_address|              ref_id|amount_merchant|response_code|
+--------------------+--------------------+----+----------------+---------------+-------------+-----------+--------------------+--------------------+---------------+-------------+
|59132a14-bdd2-4ab...|2016-08-16 10:22:...|0100|4869275837969573|          105.1|         2788|         63|Sun Shine Liquors...|                null|           null|         null|
|90f04967-f739-439...|2016-08-16 10:22:...|0110|4869275837969573|          105.1|         2788|         63|Sun Shine Liquors...|59132a14-bdd2-4ab...|         101.95|           00|
|dbdf1aa3-bf7e-465...|2018-05-06 04:19:...|0100|4196274028761630|          706.7|         2723|         63|First Restaurant,...|                null|           null|         null|
|96239ab7-1c86-449...|2018-05-06 04:20:...|0110|4196274028761630|          706.7|         2723|         63|First Restaurant,...|dbdf1aa3-bf7e-465...|          685.5|           00|
|42ef2838-d291-411...|2015-03-28 14:15:...|0100|4348736739803585|          288.4|         5529|          7|Best Bakery, 643 ...|                null|           null|         null|
|615665fc-8852-42b...|2015-03-28 14:15:...|0110|4348736739803585|          288.4|         5529|          7|Best Bakery, 643 ...|42ef2838-d291-411...|         279.75|           00|
|e3c320f8-e821-4c3...|2015-06-08 12:09:...|0100|4240286547631442|          867.4|         5691|         58|Awesome Liquors, ...|                null|           null|         null|
|0eea772e-f038-489...|2015-06-08 12:09:...|0110|4240286547631442|          867.4|         5691|         58|Awesome Liquors, ...|e3c320f8-e821-4c3...|         841.38|           00|
|1876fe75-aed1-4da...|2016-04-16 21:00:...|0100|4910254741612724|          659.8|         2349|          0|First Bakery, 539...|                null|           null|         null|
|f6eec88c-1fd9-438...|2016-04-16 21:00:...|0110|4910254741612724|          659.8|         2349|          0|First Bakery, 539...|1876fe75-aed1-4da...|         640.01|           00|
|92be356b-339d-4c4...|2015-09-28 02:00:...|0100|4645281095518257|          594.3|         2957|          0|Best Auto, 795 Al...|                null|           null|         null|
|14013d92-d87c-419...|2015-09-28 02:00:...|0110|4645281095518257|          594.3|         2957|          0|Best Auto, 795 Al...|92be356b-339d-4c4...|         576.47|           00|
|20ffbbe6-9597-4eb...|2020-12-29 14:09:...|0100|4181883717407438|          656.5|         3736|          0|Four Seasons Auto...|                null|           null|         null|
|684d32b9-c9d0-499...|2020-12-29 14:09:...|0110|4181883717407438|          656.5|         3736|          0|Four Seasons Auto...|20ffbbe6-9597-4eb...|         636.81|           08|
|8fe04047-dd0c-46b...|2017-08-07 07:50:...|0100|4665137692039550|          199.3|         7634|          0|Sun Shine Hardwar...|                null|           null|         null|
|0c843839-728d-43c...|2017-08-07 07:51:...|0110|4665137692039550|          199.3|         7634|          0|Sun Shine Hardwar...|8fe04047-dd0c-46b...|         193.32|           00|
|cdad92c5-74a9-450...|2015-04-22 01:33:...|0100|4094149930780762|          193.2|         3130|         13|Super Dry cleaner...|                null|           null|         null|
|f87246dd-8178-458...|2015-04-22 01:33:...|0110|4094149930780762|          193.2|         3130|         13|Super Dry cleaner...|cdad92c5-74a9-450...|          187.4|           00|
|345d6dcb-aec3-4f9...|2018-04-19 15:04:...|0100|4191811070945710|          132.5|         1288|         90|Best Bakery, 668 ...|                null|           null|         null|
+--------------------+--------------------+----+----------------+---------------+-------------+-----------+--------------------+--------------------+---------------+-------------+

root
 |-- id: string (nullable = true)
 |-- timestamp: string (nullable = true)
 |-- mti: string (nullable = true)
 |-- card_number: string (nullable = true)
 |-- amount_customer: float (nullable = true)
 |-- merchant_type: string (nullable = true)
 |-- merchant_id: string (nullable = true)
 |-- merchant_address: string (nullable = true)
 |-- ref_id: string (nullable = true)
 |-- amount_merchant: float (nullable = true)
 |-- response_code: string (nullable = true)

## Very Simple SQL Query

Let's find the average amount spent on purchases

In [4]:
# first register the dataframe as a temp table

df.createOrReplaceTempView("transactions")

In [5]:
# let's try a simple select query

spark.sql("select * from transactions").show(10)

+--------------------+--------------------+----+----------------+---------------+-------------+-----------+--------------------+--------------------+---------------+-------------+
|                  id|           timestamp| mti|     card_number|amount_customer|merchant_type|merchant_id|    merchant_address|              ref_id|amount_merchant|response_code|
+--------------------+--------------------+----+----------------+---------------+-------------+-----------+--------------------+--------------------+---------------+-------------+
|59132a14-bdd2-4ab...|2016-08-16 10:22:...|0100|4869275837969573|          105.1|         2788|         63|Sun Shine Liquors...|                null|           null|         null|
|90f04967-f739-439...|2016-08-16 10:22:...|0110|4869275837969573|          105.1|         2788|         63|Sun Shine Liquors...|59132a14-bdd2-4ab...|         101.95|           00|
|dbdf1aa3-bf7e-465...|2018-05-06 04:19:...|0100|4196274028761630|          706.7|         2723|         63|First Restaurant,...|                null|           null|         null|
|96239ab7-1c86-449...|2018-05-06 04:20:...|0110|4196274028761630|          706.7|         2723|         63|First Restaurant,...|dbdf1aa3-bf7e-465...|          685.5|           00|
|42ef2838-d291-411...|2015-03-28 14:15:...|0100|4348736739803585|          288.4|         5529|          7|Best Bakery, 643 ...|                null|           null|         null|
|615665fc-8852-42b...|2015-03-28 14:15:...|0110|4348736739803585|          288.4|         5529|          7|Best Bakery, 643 ...|42ef2838-d291-411...|         279.75|           00|
|e3c320f8-e821-4c3...|2015-06-08 12:09:...|0100|4240286547631442|          867.4|         5691|         58|Awesome Liquors, ...|                null|           null|         null|
|0eea772e-f038-489...|2015-06-08 12:09:...|0110|4240286547631442|          867.4|         5691|         58|Awesome Liquors, ...|e3c320f8-e821-4c3...|         841.38|           00|
|1876fe75-aed1-4da...|2016-04-16 21:00:...|0100|4910254741612724|          659.8|         2349|          0|First Bakery, 539...|                null|           null|         null|
|f6eec88c-1fd9-438...|2016-04-16 21:00:...|0110|4910254741612724|          659.8|         2349|          0|First Bakery, 539...|1876fe75-aed1-4da...|         640.01|           00|
+--------------------+--------------------+----+----------------+---------------+-------------+-----------+--------------------+--------------------+---------------+-------------+
only showing top 10 rows

## Another SQL query

### Average charge in credit card

In [6]:
# find average charge

spark.sql ("select AVG(amount_customer) from transactions").show()

+--------------------+
|avg(amount_customer)|
+--------------------+
|  456.52105311343547|
+--------------------+

### Summary by merchant_id

In [7]:
# do a summary on merchant_id

spark.sql ("select merchant_id, COUNT(*) as total from transactions group by merchant_id").show()

+-----------+-----+
|merchant_id|total|
+-----------+-----+
|          7|    2|
|          0|    8|
|         90|    1|
|         58|    2|
|         63|    4|
|         13|    2|
+-----------+-----+

## Querying Large Scale Data

Here we queried sample data - that is very small in size.

In next lab, we will query large datasets.

For large datasets, it is recommended to run the command line clients.

Look at file : [sql-2-query-large-data.py](sql-2-query-large-data.py)