# Data Generator

Generating more realistic data

In [1]:
# helper functions
from datagen_helper import generate_pd_df

import pandas as pd

In [2]:
df_pd = generate_pd_df(20)

df_pd.to_csv('transactions-small.csv', sep='|', index=False)
print (f'wrote to "transactions-small.csv"')

df_pd.head(10)

wrote to "transactions-small.csv"

,id,timestamp,mti,card_number,amount_customer,merchant_type,merchant_id,merchant_address,ref_id,amount_merchant,response_code
0,7c1b0967-5d87-4e0f-8d9b-8b05827e3438,2017-08-02 20:37:22.691,0100,4678996673992602,78.02,1028,68,"Awesome Liquors, 506 Alameda ave, San Francisc...",,NaN,NaN
1,3c5c0791-a496-4697-8579-a4c7c4f4b450,2017-08-02 20:37:25.482,0110,4678996673992602,78.02,1028,68,"Awesome Liquors, 506 Alameda ave, San Francisc...",7c1b0967-5d87-4e0f-8d9b-8b05827e3438,75.68,00
2,35f4df2d-2d77-4e20-85a5-20b46927035f,2018-03-31 19:42:27.555,0100,4681846664074770,41.15,9347,0,"Sun Shine Donuts, 142 Market St, San Mateo, ND...",,NaN,NaN
3,77937f79-0463-4bb3-9461-3e8cbf400173,2018-03-31 19:42:28.535,0110,4681846664074770,41.15,9347,0,"Sun Shine Donuts, 142 Market St, San Mateo, ND...",35f4df2d-2d77-4e20-85a5-20b46927035f,39.92,00
4,75278d18-bad5-489a-a565-9b97ec646780,2016-02-06 04:30:17.594,0100,4227174543582918,83.36,7973,59,"Sun Shine Dry cleaners, 709 Market St, San Mat...",,NaN,NaN
5,8424398a-7ba0-419a-8e76-f3f105142a01,2016-02-06 04:30:18.436,0110,4227174543582918,83.36,7973,59,"Sun Shine Dry cleaners, 709 Market St, San Mat...",75278d18-bad5-489a-a565-9b97ec646780,80.86,00
6,1b1ad2e5-91b4-45e9-bdf7-7e3ab2fdb635,2016-02-16 19:46:06.647,0100,4336809887885678,99.45,7164,0,"Star Flowers, 167 Alameda ave, Redwood City, C...",,NaN,NaN
7,e0ac116a-c19f-41ba-8ec5-cba1f6ccb55f,2016-02-16 19:46:09.290,0110,4336809887885678,99.45,7164,0,"Star Flowers, 167 Alameda ave, Redwood City, C...",1b1ad2e5-91b4-45e9-bdf7-7e3ab2fdb635,96.47,00
8,eb656f8e-b5d0-48b4-95c5-214dfe3cd9d4,2015-10-16 11:47:26.634,0100,4421965901761533,98.57,1230,53,"Sunny Flowers, 421 Broadway, San Jose, VT, USA",,NaN,NaN
9,71b82baf-59a3-4476-acdd-7511197a9c7e,2015-10-16 11:47:29.510,0110,4421965901761533,98.57,1230,53,"Sunny Flowers, 421 Broadway, San Jose, VT, USA",eb656f8e-b5d0-48b4-95c5-214dfe3cd9d4,95.61,00

## Create a Spark DataFrame

In [3]:
## Init Spark
import os, sys

this_dir = os.path.abspath('')
parent_dir = os.path.dirname(this_dir)
grand_parent_dir = os.path.dirname(parent_dir)
    
if parent_dir not in sys.path:
    sys.path.append(parent_dir)

from init_spark import init_spark

spark = init_spark()

Initializing Spark...
Spark found in :  /home/sujee/apps/spark
Spark config:
	 spark.app.name=TestApp
	spark.master=local[*]
	executor.memory=2g
	spark.sql.warehouse.dir=/tmp/tmp4ys2zdgp
	some_property=some_value
Spark UI running on port 4040

In [4]:
import pyspark
from pyspark.sql.types import ArrayType, IntegerType, LongType, StringType, FloatType, TimestampType, StructType, StructField

my_schema = StructType([
                       StructField("id", StringType(), True),
                       StructField("timestamp", StringType(), True),
                       StructField("mti", StringType(), True),
                       StructField("card_number", StringType(), True),
                       StructField("amount_customer", FloatType(), True),
                       StructField("merchant_type", StringType(), True),
                       StructField("merchant_id", IntegerType(), True),
                       StructField("merchant_address", StringType(), True),
                       StructField("ref_id", StringType(), True),
                       StructField("amount_merchant", FloatType(), True),
                       StructField("response_code", StringType(), True),
                      ])


spark_df = spark.createDataFrame(df_pd, schema=my_schema)
spark_df.show(truncate=True)

+--------------------+--------------------+----+----------------+---------------+-------------+-----------+--------------------+--------------------+---------------+-------------+
|                  id|           timestamp| mti|     card_number|amount_customer|merchant_type|merchant_id|    merchant_address|              ref_id|amount_merchant|response_code|
+--------------------+--------------------+----+----------------+---------------+-------------+-----------+--------------------+--------------------+---------------+-------------+
|7c1b0967-5d87-4e0...|2017-08-02 20:37:...|0100|4678996673992602|          78.02|         1028|         68|Awesome Liquors, ...|                    |            NaN|          NaN|
|3c5c0791-a496-469...|2017-08-02 20:37:...|0110|4678996673992602|          78.02|         1028|         68|Awesome Liquors, ...|7c1b0967-5d87-4e0...|          75.68|           00|
|35f4df2d-2d77-4e2...|2018-03-31 19:42:...|0100|4681846664074770|          41.15|         9347|          0|Sun Shine Donuts,...|                    |            NaN|          NaN|
|77937f79-0463-4bb...|2018-03-31 19:42:...|0110|4681846664074770|          41.15|         9347|          0|Sun Shine Donuts,...|35f4df2d-2d77-4e2...|          39.92|           00|
|75278d18-bad5-489...|2016-02-06 04:30:...|0100|4227174543582918|          83.36|         7973|         59|Sun Shine Dry cle...|                    |            NaN|          NaN|
|8424398a-7ba0-419...|2016-02-06 04:30:...|0110|4227174543582918|          83.36|         7973|         59|Sun Shine Dry cle...|75278d18-bad5-489...|          80.86|           00|
|1b1ad2e5-91b4-45e...|2016-02-16 19:46:...|0100|4336809887885678|          99.45|         7164|          0|Star Flowers, 167...|                    |            NaN|          NaN|
|e0ac116a-c19f-41b...|2016-02-16 19:46:...|0110|4336809887885678|          99.45|         7164|          0|Star Flowers, 167...|1b1ad2e5-91b4-45e...|          96.47|           00|
|eb656f8e-b5d0-48b...|2015-10-16 11:47:...|0100|4421965901761533|          98.57|         1230|         53|Sunny Flowers, 42...|                    |            NaN|          NaN|
|71b82baf-59a3-447...|2015-10-16 11:47:...|0110|4421965901761533|          98.57|         1230|         53|Sunny Flowers, 42...|eb656f8e-b5d0-48b...|          95.61|           00|
|0016b804-e717-435...|2016-03-31 23:33:...|0100|4212896594027310|          24.92|         8494|         98|Sunny Hardware, 2...|                    |            NaN|          NaN|
|53c1f4c9-c5f1-452...|2016-03-31 23:33:...|0110|4212896594027310|          24.92|         8494|         98|Sunny Hardware, 2...|0016b804-e717-435...|          24.17|           08|
|9af9e9c3-de68-4ea...|2016-03-09 04:31:...|0100|4464456310267090|          74.17|         1519|         94|Sun Shine Flowers...|                    |            NaN|          NaN|
|7abf347b-afad-419...|2016-03-09 04:31:...|0110|4464456310267090|          74.17|         1519|         94|Sun Shine Flowers...|9af9e9c3-de68-4ea...|          71.94|           00|
|305a3b3a-7175-40b...|2020-02-24 01:15:...|0100|4465912884512346|           3.99|         2105|          0|Four Seasons Hard...|                    |            NaN|          NaN|
|68474437-b51e-4e1...|2020-02-24 01:15:...|0110|4465912884512346|           3.99|         2105|          0|Four Seasons Hard...|305a3b3a-7175-40b...|           3.87|           33|
|47f86aed-330d-4df...|2019-12-03 15:16:...|0100|4698900828486530|          25.85|         9489|         83|Sun Shine Nursery...|                    |            NaN|          NaN|
|39a6e3ab-01d8-421...|2019-12-03 15:16:...|0110|4698900828486530|          25.85|         9489|         83|Sun Shine Nursery...|47f86aed-330d-4df...|          25.07|           00|
|7dd7f6c1-9a9e-4b8...|2015-11-16 04:40:...|0100|4721747453148336|          47.01|         8553|          0|Best Donuts, 442 ...|                    |            NaN|          NaN|
|0b137cb6-7a51-4aa...|2015-11-16 04:40:...|0110|4721747453148336|          47.01|         8553|          0|Best Donuts, 442 ...|7dd7f6c1-9a9e-4b8...|           45.6|           03|
+--------------------+--------------------+----+----------------+---------------+-------------+-----------+--------------------+--------------------+---------------+-------------+